.catalog {
  display: grid;
  justify-content: center;
  align-content: center;
  max-width: 944px;

  grid-template-columns: repeat(auto-fill, 200px);
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
